{% extends 'base.html' %}
{% block content %}
    <style>
        .form-box {
            padding-left: 20px;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            background-color: #f4f4f4;
        }

        .info-box {
            text-align: center;
            margin-bottom: 20px;
            margin-right: 20px;
            padding: 15px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            flex: 1;
        }
        .info-box h3 {
            margin: 0;
            font-size: 28px;
        }
        .info-box p {
            margin: 8px 0 0;
        }
        .info-box img {
            margin-right: 20px;
        }
        .AddForm button {
            width: 10%;
            padding: 10px;
            margin: 25px 0;
            border: none;
            background-color: #333;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        .AddForm button:hover {
            background-color: #4CAF50;
            color: #fff;
        }
        a {
            color: #4CAF50;
        }
        .AddForm .form-box .info-box textarea,
        .AddForm .form-box .info-box input[type="text"]{
            width: 20%;
        }

        .AddForm .form-box .info-box input[type="file"] {
            width: 20%;
        }
    </style>
    <form method="POST" enctype="multipart/form-data" class="AddForm">
    {% csrf_token %}
        <div class="form-box">
            <div class="info-box">
                <h3>Add App</h3>
                {{ form.as_p }}
                <button type="submit">ADD</button>
            </div>
        </div>
    </form>
{% endblock content %}
