{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <style>
        .list-box {
            padding: 20px;
            background-color: #f4f4f4;
        }

        .info-box {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 15px;
            margin-bottom: 20px;
        }

        .app-table {
            width: 100%;
            border-collapse: collapse;
        }

        .app-table th,
        .app-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .app-icon img {
            max-width: 50px;
            max-height: 50px;
        }
    </style>
    <div class="list-box">
        <div class="info-box">
            <h1>List of Hardwere</h1>
            <table class="app-table">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tech in techs %}
                        <tr>
                            <td class="app-icon"><img src="{{ tech.icon.url }}" alt="Ikona"></td>
                            <td>{{ tech.name }}</td>
                            <td>{{ tech.desc }}</td>
                            <td><a href={% url 'tech' id=tech.id %}><img src="{% static 'continue.png' %}" width="50" height="50"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
